.next
out
out_next
node_modules
release
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next
**/*.log
.idea
.vscode
prisma/data
prisma/migrations
prisma/data/dev.db
dev.db

dist-electron/main.js
dist-electron/preload.js
dist-electron/prisma-client/default.d.ts
dist-electron/prisma-client/schema.prisma
dist-electron/prisma-client/default.js
dist-electron/prisma-client/edge.d.ts
dist-electron/prisma-client/edge.js
dist-electron/prisma-client/index-browser.js
dist-electron/prisma-client/index.d.ts
dist-electron/prisma-client/index.js
dist-electron/prisma-client/package.json
dist-electron/prisma-client/query_engine-windows.dll.node
dist-electron/prisma-client/wasm.d.ts
dist-electron/prisma-client/wasm.js
dist-electron/prisma-client/runtime/edge-esm.js
dist-electron/prisma-client/runtime/edge.js
dist-electron/prisma-client/runtime/index-browser.d.ts
dist-electron/prisma-client/runtime/index-browser.js
dist-electron/prisma-client/runtime/library.d.ts
dist-electron/prisma-client/runtime/library.js
dist-electron/prisma-client/runtime/react-native.js
dist-electron/prisma-client/runtime/wasm.js
prisma/data/dev.db
